.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container-navigation {
  display: flex;
  align-items: center;
  padding: 24px 0;
  margin: 0 auto;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  width: 1440px;
  height: 72px;
  padding-bottom: 1px;
}
.header-navigation {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-grow: 1;
}
.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.header-logo-img {
  color: #2e2f42;
  padding: 24px 0;
}
.header-menu-item {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-menu-list {
  display: flex;
  gap: 40px;
}
.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}
/* main */
.address {
  font-style: normal;
}
.address-menu {
  display: flex;
  gap: 40px;
}
.address-menu-item {
}
.address-menu-list {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.address-menu-list:hover,
.address-menu-list:focus {
  color: #404bbf;
}

/*  Solutions */
.menu-btn-button {
  display: block;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.solutions-header-button {
  background: #2e2f42;
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.solutions-header-button:hover,
.solutions-header-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.solutions-title-main {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;

  margin-bottom: 48px;
}
.solutions-btn-button {
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
}
.solutions-btn:hover,
.solutions-btn:focus {
  color: #fff;
  background-color: #404bbf;
}

/* advantages */

.advantages {
  margin-bottom: 120px;
}
.examples-title {
}
.advantages-menu {
  display: flex;
  gap: 24px;
  padding-left: 156px;
  padding-right: 156px;
}
.advantages-menu-list {
  margin-bottom: 24px;
  margin-top: 24px;
  width: calc((100% - 24px * 3) / 4);
}
.advantages-menu-item {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 8px;
  display: block;
  margin: 0 auto;
}

.advantages-menu-descr {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* team */
.team {
  background-color: #f4f4fd;
  width: 1440px;
  height: 732px;
  padding-top: 120px;
  text-align: center;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
}

.team-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
}

.team-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  border-radius: 4px;
}

.team-image {
  padding-bottom: 32px;
}

/* Portfolio */
.Portfolio {
  width: 1440px;
}
.Portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  padding-top: 120px;
  text-align: center;
}
.Portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.Portfolio-list {
  margin-bottom: 24px;
}

.portfolio-sudtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
}

.portfolio-desc {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
}

.portfoli-image {
  padding-bottom: 32px;
}

/* footer */
.footer {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  height: 24px;
  align-items: center;
  margin-bottom: 16px;
  padding-top: 100px;
}

.footer-logo-item {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
}

.footer-desc {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0% auto;
}
