.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  width: 1440px;
  height: 72px;
  padding-bottom: 1px;
}
.header-navigation {
}
.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo-img {
  color: #2e2f42;
}
.header-menu-item {
}
.header-menu-list {
}
.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}
/* main */
.address {
  font-style: normal;
}
.address-menu {
}
.address-menu-item {
}
.address-menu-list {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-menu-list:hover,
.address-menu-list:focus {
  color: #404bbf;
}

/*  Solutions */
.solutions {
  text-align: center;
  padding: 188px 472px 292px;
}

.solutions-header-button {
  width: 1440px;
  height: 600px;
  background: #2e2f42;
  padding: 188px 472px 292px 472px;
}

.solutions-header-button:hover,
.solutions-header-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.solutions-title-main {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
}
.solutions-btn-button {
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.solutions-btn:hover,
.solutions-btn:focus {
  color: #fff;
  background-color: #404bbf;
}

/* advantages */

.advantages {
  padding-top: 180px;
  padding-bottom: 120px;
}
.examples-title {
}
.advantages-menu {
  display: inline-flex;
}
.advantages-menu-list {
  margin-bottom: 24px;
  gap: 24px;
}
.advantages-menu-item {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
}

.advantages-menu-descr {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* team */
.team {
  background-color: #f4f4fd;
  width: 1440px;
  height: 732px;
  padding-top: 120px;
  text-align: center;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-bottom: 72px;
}
.team-list {
  display: inline-flex;
}

.team-item {
  background-color: #ffffff;
}

.team-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
}

.team-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  border-radius: 4px;
}

.team-image {
  padding-bottom: 32px;
}

/* Portfolio */
.Portfolio {
  width: 1440px;
}
.Portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  padding-top: 120px;
  text-align: center;
}
.Portfolio-menu {
  display: inline-flex;
}
.Portfolio-list {
  margin-bottom: 24px;
}

.portfolio-sudtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
}

.portfolio-desc {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
}

.portfoli-image {
  padding-bottom: 32px;
}

/* footer */
.footer {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-flex;
  height: 24px;
  align-items: center;
  margin-bottom: 16px;
  padding-top: 101px;
}

.footer-logo-item {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
}

.footer-desc {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0% auto;
}
